<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
       
	</head>
	
<body>
    <form runat="server">
    <div class="body">
        <div id="b_holder" class="container">
            <div class="container_nav_outer">
                <div class="container">
                    <div class="row-fluid">
                        <jdoc type="Module" name="logo1"></jdoc>
                        <span style="font-size: 18px"><jdoc type="Module" name="title"></jdoc></span>
                        <div style="float: left">
                            <jdoc type="Module" name="logo2"></jdoc>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container_outer_pathway">
                <div class="container">
                    <div class="row-fluid">
                        <ul class="breadcrumb">
                            <%--
                            <li class="showHere">شما اینجا هستید : </li>--%>
                            <li class="active">خانه</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container_nav_outer">
                <div class="container">
                    <div class="row-fluid">
                        <div id="hor_nav">
                           <jodc type="Module" name="menu"></jodc>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container_nav_outer">
                <div class="container">
                    <div class="row-fluid">
                        <div id="sidebar" class="span3">
                            <div class="sidebar-nav">
                                <div class="well">
                                    <div id="page_header_h3" class="page-header">
                                        <label id="Loginlbl" runat="server"></label>
                                    </div>
                                    <div class="custom">
                                        <jdoc type="Module" name="login"></jdoc>
                                    </div>
                                </div>
                                <div class="well">
                                    <div id="page_header_h3" class="page-header">
                                        <label id="esteellbl" runat="server"></label>
                                    </div>
                                    <div class="custom">

                                        <span style="line-height: 1.3em;">
                                            <jdoc type="Module" name="side1"></jdoc>
                                        </span>
                                    </div>
                                </div>
                                <div class="well">
                                    <div id="page_header_h3" class="page-header">
                                        <label id="Rahatilbl" runat="server"></label></div>
                                    <div class="custom">
                                        <span style="line-height: 1.3em;">
                                            <jdoc type="Module" name="side2"></jdoc>
                                        </span>
                                    </div>
                                </div>
                                <div class="well">
                                    <div id="page_header_h3" class="page-header">
                                        <label id="khablbl" runat="server"></label>
                                    </div>
                                    <div class="custom">
                                        <span style="line-height: 1.3em;">
                                            <jdoc type="Module" name="side3"></jdoc>
                                        </span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div id="content" class="span9">
                            <div class="loading" style="display:none"><img src="Images/ajax-loader.gif" /></div>
                            <div id="slide-wrap">
                                <jdoc type="Module" name="top"></jdoc>
                            </div>
                            <div class="outer_tabs">
                                <div class="well " id="mainContent">
                                    <jdoc type="Module" name="content1"></jdoc>


                                </div>

                                    <div id="featured-row">
                                        <div class="frow">
                                            <div class="moduletable">
                                                <h3 class="module_title ">Cases</h3>
                                                <div class="mod-newsflash mod-newsflash__">
                                                    <div class="item">
                                                        <jdoc type="Module" name="content2"></jdoc>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container_nav_outer">
                <div id="footer">
                    <div id="footer-row">
                        <div class="frow">
                            <div class="footer-row-1">
                                <div class="footer-col">
                                    درباره ما
                                </div>
                                <div class="footer-col">
                                    <div>ارتباط با ما</div>

                                </div>
                                <div class="footer-col">
                                    <div>
                                        <img src="Images/ico.facebook.png" width="32" height="32" />
                                        <img src="Images/ico.twitter.png" width="32" height="32" />
                                        <img src="Images/ico.linkedin.png" width="32" height="32" />
                                        <img src="Images/ico.youtube.png" width="32" height="32" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
        </form>
</body>

</html>
