<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Janus.Windows.Common.JanusApplicationSettings.buttonBar1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ERP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Janus.Windows.Common.JanusApplicationSettings.buttonBar1>
            <setting name="LayoutSettings" serializeAs="Xml">
                <value>
                    <base64Binary>77u/PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxCdXR0b25CYXJMYXlvdXRGaWxlIExheW91dFR5cGU9IkphbnVzLldpbmRvd3MuQnV0dG9uQmFyLkJ1dHRvbkJhciIgTGF5b3V0VmVyc2lvbj0iMS4xIj4NCiAgICA8VmlzdWFsU3R5bGVBcmVhcz4NCiAgICAgICAgPEJhY2tncm91bmRTdHlsZT5PZmZpY2UyMDA3PC9CYWNrZ3JvdW5kU3R5bGU+DQogICAgICAgIDxDb250cm9sQm9yZGVyU3R5bGU+T2ZmaWNlMjAwNzwvQ29udHJvbEJvcmRlclN0eWxlPg0KICAgICAgICA8R3JvdXBIZWFkZXJTdHlsZT5PZmZpY2UyMDA3PC9Hcm91cEhlYWRlclN0eWxlPg0KICAgICAgICA8SXRlbXNTdHlsZT5PZmZpY2UyMDA3PC9JdGVtc1N0eWxlPg0KICAgIDwvVmlzdWFsU3R5bGVBcmVhcz4NCiAgICA8QWxwaGE+LTE8L0FscGhhPg0KICAgIDxGb250PlRhaG9tYSwgOS43NXB0PC9Gb250Pg0KICAgIDxJdGVtQXBwZWFyYW5jZT5GbGF0PC9JdGVtQXBwZWFyYW5jZT4NCiAgICA8U2Nyb2xsTG9jYXRpb24+SXRlbXNMZXZlbDwvU2Nyb2xsTG9jYXRpb24+DQogICAgPFNoYWRvd09uSG92ZXI+VHJ1ZTwvU2hhZG93T25Ib3Zlcj4NCiAgICA8VmlzdWFsU3R5bGU+T2ZmaWNlMjAwNzwvVmlzdWFsU3R5bGU+DQo8L0J1dHRvbkJhckxheW91dEZpbGU+</base64Binary>
                </value>
            </setting>
        </Janus.Windows.Common.JanusApplicationSettings.buttonBar1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SmsSoap" />
        <binding name="smsserverBinding" />
        <binding name="smsserverBinding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SmsSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://37.130.202.188/class/sms/webservice3/server.php"
        binding="basicHttpBinding" bindingConfiguration="smsserverBinding1"
        contract="SMSServiceReferenceNewVersion.smsserverPortType" name="smsserverPort1" />
    </client>
  </system.serviceModel>
  <applicationSettings>
        <ERP.Properties.Settings>
              <setting name="Setting" serializeAs="String">
                    <value>http://sms.magfa.com/services/urn:SOAPSmsQueue?wsdl</value>
              </setting>
        </ERP.Properties.Settings>
    </applicationSettings>
</configuration>
